<%= form_for @conn, b_noauth_user_path(@conn, :login), [as: "user"], fn f -> %>
  <%= label f, :ident, "Email" %>
  <%= text_input f, :ident %>
  <br>
  <%= label f, :password, "Password" %>
  <%= password_input f, :password %>
  <br>
  <%= submit "Login" %>
<% end %>
